{% extends 'base_generic.html' %}
{% block content %}

<div id='calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/calendario/data/' + '{{ user.id }}'  // Assuming user.id is the ID of the logged-in cliente
        });

        calendar.render();
    });
</script>

{% endblock %}