{% extends "application/base.html" %}

{% block content %}
    <h2>{% if object %}Actualizar{% else %}Crear{% endif %} Usuario</h2>
    <form method="post">
        {% csrf_token %}

        <!-- CORRECCION ERRORES -->
        {% if form.errors %}
            <div class="alert alert-danger">
                Por favor, corrige los siguientes errores: <br>
                {{ form.errors }}
            </div>
        {% endif %} 
        

        {{ form.username.label_tag }} {{ form.username }}
        {{ form.username.errors }}

        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password1.errors }}

        {{ form.password2.label_tag }} {{ form.password2 }}
        {{ form.password2.errors }}


        {{ form.email.label_tag }} {{ form.email }}
        {{ form.email.errors }}

        <div>
            <label for="role_cliente">¿Qué eres?:</label>
            <input type="radio" name="role" value="cliente" id="role_cliente" required>
            <label for="role_cliente">Cliente</label>

            <input type="radio" name="role" value="entrenador" id="role_entrenador" required>
            <label for="role_entrenador">Entrenador</label>
        </div>

        <div id="client_fields">
            {# Campos para el cliente #}
            {{ form.gender.label_tag }} {{ form.gender }}
            {{ form.weight.label_tag }} {{ form.weight }}
            {{ form.height.label_tag }} {{ form.height }}
            {{ form.age.label_tag }} {{ form.age }}
            {{ form.waist_measurement.label_tag }} {{ form.waist_measurement }}
            {{ form.hip_measurement.label_tag }} {{ form.hip_measurement }}
            {{ form.goal.label_tag }} {{ form.goal }}
            {{ form.health_issues.label_tag }} {{ form.health_issues }}
            {{ form.blood_pressure.label_tag }} {{ form.blood_pressure }}
            {{ form.blood_sugar.label_tag }} {{ form.blood_sugar }}
            {{ form.daily_water_intake.label_tag }} {{ form.daily_water_intake }}
            {{ form.diet_type.label_tag }} {{ form.diet_type }}
            {{ form.calorie_intake.label_tag }} {{ form.calorie_intake }}
            {{ form.lifestyle.label_tag }} {{ form.lifestyle }}
            {{ form.other_goals.label_tag }} {{ form.other_goals }}
        </div>

        <div id="trainer_fields" style="display: none;">
            {# Campos para el entrenador (agrega los campos específicos si es necesario) #}
        </div>

        <button type="submit">Guardar</button>
    </form>

    <script>
        // Mostrar/ocultar campos basados en el rol seleccionado.
        document.addEventListener('DOMContentLoaded', function() {
            let role_cliente = document.getElementById('role_cliente');
            let role_entrenador = document.getElementById('role_entrenador');

            let client_fields = document.getElementById('client_fields');
            let trainer_fields = document.getElementById('trainer_fields');

            role_cliente.addEventListener('change', function() {
                if (role_cliente.checked) {
                    client_fields.style.display = 'block';
                    trainer_fields.style.display = 'none';
                }
            });

            role_entrenador.addEventListener('change', function() {
                if (role_entrenador.checked) {
                    client_fields.style.display = 'none';
                    trainer_fields.style.display = 'block';
                }
            });
        });
    </script>
{% endblock %}
