{% extends "application/base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<h2>Selecciona tu rol</h2>
<form method="post" action="{% url 'user_choice' %}">
    {% csrf_token %}
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <label>
        Cliente <input type="radio" name="role" value="cliente">
    </label>
    <label>
        Entrenador <input type="radio" name="role" value="entrenador">
    </label>
    <button type="submit">Seleccionar</button>
</form>
{% endblock %}