<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FitFuelBalance{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <!-- Enlaces -->
            <ul>
                <!-- Comprueba si estas loggeado para cerrar sesion o registrate o loggearte -->
                {% if request.user.is_authenticated %}
                <li> Has iniciado sesión como {{ request.user.username }} </li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Registrarse</a></li>
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
            </ul>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- El contenido específico de cada página irá aquí -->
        {% endblock %}
    </main>

    <footer>
        <p>Derechos reservados © {{ '2023' }}</p>
    </footer>

    {% block extra_body %}{% endblock %}
</body>
</html>
