{% extends 'base.html' %}

{% block content %}
    <h2>Perfil de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Perfil</h3>
        {{ profile_form.as_p }}
        <h3>Información de Usuario</h3>
        {{ user_form.as_p }}
        <button type="submit">Guardar Cambios</button>
        {% if user.is_regular_user %}
            <h3>Tu Entrenador:</h3>
            <p>{{ personal_trainer }}</p> <!-- Cambiado para usar la variable del contexto -->
        {% elif user.is_trainer %}
            <h3>Tus Clientes:</h3>
            {% for regularUser in clients %} <!-- Cambiado para usar la variable del contexto -->
                <p>{{ regularUser }}</p>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}
