.container-clientdetails {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.form-control,
.form-select {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
}

.measurements-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.form-check-label {
    color: #495057;
}

.chart-container {
    margin-top: 20px;
}

.btn-primary,
.btn-success,
.btn-secondary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover,
.btn-success:hover,
.btn-secondary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.selected-option {
    background-color: #d4edda; /* Color de fondo verde claro */
    color: #155724; /* Color del texto verde oscuro */
}