.trainer-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(10, 10, 10, 1); /* Fondo gris oscuro con transparencia */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #f0f0f0; /* Texto claro */
}

.trainer-card {
    padding: 20px;
    background-color: #1e1e1e; /* Fondo gris oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #f0f0f0; /* Texto claro */
}

.trainer-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #f0f0f0; /* Texto claro */
}

.trainer-card .card-text {
    margin-bottom: 10px;
    color: #f0f0f0; /* Texto claro */
}

.trainer-card .btn-primary {
    margin-top: 20px;
    background-color: #28a745; /* Fondo verde */
    border: none;
    color: #fff; /* Texto blanco */
}

.trainer-card .btn-primary:hover {
    background-color: #218838; /* Fondo verde oscuro al pasar el ratón */
}
