<!-- templates/alimentacion/opcion/opcion_list.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2 class="my-4">Listado de opciones</h2>

<ul class="list-group">
    {% for opcion in object_list %}
        <li class="list-group-item">
            <a href="{% url 'opcion_detail' opcion.pk %}">{{ opcion.name }}</a>
            <a href="{% url 'opcion_update' opcion.pk %}">Editar</a>
            <a href="{% url 'opcion_delete' opcion.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay opciones disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'opcion_create' %}">Crear nueva opción</a>
{% endblock %}
