<!-- templates/exercise/exercise_list.html -->

{% extends "application/base.html" %}

{% block content %}
<h2 class="my-4">Listado de Ejercicios</h2>

<ul class="list-group">
    {% for exercise in object_list %}
        <li class="list-group-item">
            <a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.name }}</a>
            <a href="{% url 'exercise_update' exercise.pk %}">Editar</a>
            <a href="{% url 'exercise_delete' exercise.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay ejercicios disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'exercise_create' %}">Crear nuevo ejercicio</a>
{% endblock %}
