body {
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #f0f0f0; /* Texto claro */
}

.modal-title h2,
.modal-title h3,
.modal-title h4 {
  color: #fff !important;
}

h1, h2, h3, h4 {
    color: #fff !important;
  }  

  .form-check-label {
    color: #f0f0f0; /* Texto claro */
}

  .form-label {
    font-weight: bold;
    color: #f0f0f0; /* Texto claro */
}

.navbar-dark .navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #28a745;  /* Verde para el título principal */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-dark .navbar-brand:hover {
    color: #218838; /* Verde oscuro */
}

.navbar-dark .navbar-nav .nav-link {
    color: #f0f0f0;  /* Blanco para los enlaces de navegación */
}

.navbar-dark .navbar-toggler {
    border-color: #28a745;
    position: absolute;
    left: 10px;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    background-color: #2b2b2b; /* Fondo oscuro para el menú desplegable */
    border-color: #28a745; /* Borde verde */
    background-color: #2b2b2b; /* Fondo oscuro */
    border: 1px solid #fff; /* Borde blanco */
}

.dropdown-item {
    color: #f0f0f0; /* Texto claro */
}

.dropdown-item:hover {
    background-color: #218838 !important; /* Fondo verde oscuro al pasar el ratón */
    color: #ffffff !important; /* Texto blanco al pasar el ratón */
}

.dropdown-toggle::after {
    filter: invert(1); /* Esto hace que el ícono de la flecha sea blanco */
}

.offcanvas-header {
    background-color: #2b2b2b; /* Fondo oscuro para el encabezado del offcanvas */
    color: #f0f0f0; /* Texto claro */
}

.offcanvas-body {
    background-color: #2b2b2b; /* Fondo oscuro para el cuerpo del offcanvas */
    color: #f0f0f0; /* Texto claro */
}

.accordion-button {
    background-color: #2b2b2b; /* Fondo oscuro para el botón del acordeón */
    color: #f0f0f0; /* Texto claro */
}

.accordion-button:not(.collapsed) {
    background-color: #28a745; /* Fondo verde cuando el acordeón está expandido */
    color: #ffffff; /* Texto blanco cuando el acordeón está expandido */
}

.accordion-button:hover {
    background-color: #218838; /* Fondo verde oscuro al pasar el ratón */
    color: #ffffff; /* Texto blanco al pasar el ratón */
}

.accordion-header .accordion-button::after {
    filter: invert(1); /* Esto hace que el ícono del acordeón (flecha) sea blanco */
}

.accordion-item {
    border: none; /* Sin borde para el ítem del acordeón */
}

.btn-secondary {
    background-color: #28a745; /* Fondo verde para el botón secundario */
    border-color: #28a745; /* Borde verde */
}

.btn-secondary:hover {
    background-color: #218838; /* Fondo verde oscuro al pasar el ratón */
    border-color: #1e7e34; /* Borde verde oscuro al pasar el ratón */
}

.table {
    color: #f0f0f0; /* Texto claro en la tabla */
}

.table thead th {
    background-color: #3a3a3a; /* Fondo oscuro para los encabezados de la tabla */
}

.table tbody tr {
    background-color: #2b2b2b; /* Fondo oscuro para las filas del cuerpo de la tabla */
}

.table tbody tr:hover {
    background-color: #383838; /* Fondo gris oscuro al pasar el ratón sobre las filas */
}

.custom-navbar {
    background: linear-gradient(to right, #2b2b2b, #1e1e1e);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
