<!-- templates/alimentacion/plan/plan_detail.html -->

{% extends "application/base.html" %}

{% block content %}
<h2>{{ object.name }}</h2>
<p>{{ object.cliente }}</p>
<p>{{ object.descripcion }}</p>
<p>{{ object.start_date }}</p>
<p>{{ object.end_date }}</p>
<p>{{ object.opcion1 }} </p>
<p>{{ object.opcion2 }} </p>
<p>{{ object.opcion3 }} </p>
<p>{{ object.suplementos }} </p>
<p>{{ objtect.notas }} </p>
<p>{{ object.goal }} </p>

<!-- Puedes seguir mostrando otros campos del modelo -->

<a href="{% url 'plan_update' object.pk %}">Editar</a>
<a href="{% url 'plan_delete' object.pk %}">Eliminar</a>
<a href="{% url 'plan_list' %}"> Volver al listado</a>
{% endblock %}
