<!-- templates/alimentacion/plan/plan_list.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2 class="my-4">Listado de planes</h2>

<ul class="list-group">
    {% for plan in object_list %}
        <li class="list-group-item">
            <a href="{% url 'plan_detail' plan.pk %}">{{ plan.name }}</a>
            <a href="{% url 'plan_update' plan.pk %}">Editar</a>
            <a href="{% url 'plan_delete' plan.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay planes disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'plan_create' %}">Crear nuevo Plan</a>
{% endblock %}
