.create-food-container {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    color: #f0f0f0;
}

.create-food-container h2 {
    text-align: center;
    color: #28a745;
}

.create-food-form-label, .create-food-form-check-label {
    color: #f0f0f0;
}

.form-label-createfood {
    color: #f0f0f0;
}

.create-food-container .form-control, .create-food-container .form-check-input {
    background-color: #343a40;
    color: #f0f0f0;
    border: 1px solid #444;
}

.create-food-container .form-control:focus, .create-food-container .form-check-input:focus {
    border-color: #28a745;
    box-shadow: none;
}

.create-food-container .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.create-food-container .btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.create-food-container .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.create-food-container .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
