<!-- templates/alimentacion/dieta/dieta_list.html -->

{% extends "application/base.html" %}

{% block content %}
<h2>Listado de dias de dieta</h2>

<ul>
    {% for dieta in object_list %}
        <li>
            <a href="{% url 'dieta_detail' dieta.pk %}">{{ dieta.name }}</a>
            <a href="{% url 'dieta_update' dieta.pk %}">Editar</a>
            <a href="{% url 'dieta_delete' dieta.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li>No hay dias de dieta disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'dieta_create' %}">Crear nueva dieta</a>
{% endblock %}
