<!-- templates/alimentacion/dieta/dieta_detail.html -->

{% extends "application/base.html" %}

{% block content %}
<h2>{{ object.name }}</h2>
    <p>Nombre: {{ object.name }}</p>
    <p>Cliente: {{ object.cliente }}</p>
    <p>Desayuno: {{ object.desayuno }}</p>
    <p>Almuerzo: {{ object.almuerzo }}</p>
    <p>Comida: {{ object.comida }}</p>
    <p>Merienda: {{ object.merienda }}</p>
    <p>Cena: {{ object.cena }}</p>
    <p>Kcal: {{ object.kcal }}</p>
    <p>Proteínas: {{ object.proteina }}</p>
    <p>Hidratos de Carbono: {{ object.hc }}</p>
    <p>Azúcar: {{ object.azucar }}</p>
    <p>Fibra: {{ object.fibra }}</p>
    <p>Grasa: {{ object.grasa }}</p>
    <p>Grasa Saturada: {{ object.grasa_sat }}</p>
    <p>Apto para Celíacos: {% if object.apto_celiacos %}Sí{% else %}No{% endif %}</p>
    <p>Apto para Lactosa: {% if object.apto_lactosa %}Sí{% else %}No{% endif %}</p>
    <p>Apto para Veganos: {% if object.apto_veganos %}Sí{% else %}No{% endif %}</p>
    <p>Apto para Vegetarianos: {% if object.apto_vegetarianos %}Sí{% else %}No{% endif %}</p>
    <p>Apto para Pescetarianos: {% if object.apto_pescetarianos %}Sí{% else %}No{% endif %}</p>
    <p>Carne: {% if object.carne %}Sí{% else %}No{% endif %}</p>
    <p>Verdura: {% if object.verdura %}Sí{% else %}No{% endif %}</p>
    <p>Pescado/Marisco Enlatado/Conserva: {% if object.pescado_marisco_enlatado_conserva %}Sí{% else %}No{% endif %}</p>
    <p>Cereal: {% if object.cereal %}Sí{% else %}No{% endif %}</p>
    <p>Pasta/Arroz: {% if object.pasta_arroz %}Sí{% else %}No{% endif %}</p>
    <p>Lácteo (Yogur/Queso): {% if object.lacteo_yogur_queso %}Sí{% else %}No{% endif %}</p>
    <p>Fruta: {% if object.fruta %}Sí{% else %}No{% endif %}</p>
    <p>Fruto Seco: {% if object.fruto_seco %}Sí{% else %}No{% endif %}</p>
    <p>Legumbre: {% if object.legumbre %}Sí{% else %}No{% endif %}</p>
    <p>Salsa/Condimento: {% if object.salsa_condimento %}Sí{% else %}No{% endif %}</p>
    <p>Fiambre: {% if object.fiambre %}Sí{% else %}No{% endif %}</p>
    <p>Pan/Pan de Molde/Tostada: {% if object.pan_panMolde_tostada %}Sí{% else %}No{% endif %}</p>
    <p>Huevo: {% if object.huevo %}Sí{% else %}No{% endif %}</p>
    <p>Suplemento/Bebida Especial: {% if object.suplemento_bebida_especial %}Sí{% else %}No{% endif %}</p>
    <p>Tubérculo: {% if object.tuberculo %}Sí{% else %}No{% endif %}</p>
    <p>Otros: {% if object.otros %}Sí{% else %}No{% endif %}</p>

<!-- Puedes seguir mostrando otros campos del modelo -->

<a href="{% url 'dieta_update' object.pk %}">Editar</a>
<a href="{% url 'dieta_delete' object.pk %}">Eliminar</a>
{% endblock %}
