<!-- templates/alimentacion/comida/comida_list.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2 class="my-4">Listado de comidas</h2>

<ul class="list-group">
    {% for comida in object_list %}
        <li class="list-group-item">
            <a href="{% url 'comida_detail' comida.pk %}">{{ comida.name }}</a>
            <a href="{% url 'comida_update' comida.pk %}">Editar</a>
            <a href="{% url 'comida_delete' comida.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay comidas disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'comida_create' %}">Crear nueva comida</a>
{% endblock %}
