{% extends "base_generic.html" %}

{% block content %}
  <h2>Lista de Comidas Base</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Kcal</th>
        <th>Proteina</th>
        <th>Hc</th>
        <th>Azucar</th>
        <th>Fibra</th>
        <th>Grasa</th>
        <th>Grasa Sat</th>
        <!-- Add more headers based on your fields -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for comida in comidas %}
        <tr>
          <td>{{ comida.name }}</td>
          <td>{{ comida.cantidad }}</td>
          <td>{{ comida.kcal }}</td>
          <td>{{ comida.proteina }}</td>
          <td>{{ comida.hc }}</td>
          <td>{{ comida.azucar }}</td>
          <td>{{ comida.fibra }}</td>
          <td>{{ comida.grasa }}</td>
          <td>{{ comida.grasa_sat }}</td>
          <!-- Add more data cells based on your fields -->
          <td>
            <a href="{% url 'edit_comida_base' comida.id %}">Editar</a> | 
            <a href="{% url 'delete_comida_base' comida.id %}">Eliminar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">No se han encontrado Comidas Base.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'add_comida_base' %}">Añadir Comida Base</a>
{% endblock %}
