<!-- templates/alimentacion/alimento/alimento_list.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2 class="my-4">Listado de Alimentos</h2>

<ul class="list-group">
    {% for alimento in object_list %}
        <li class="list-group-item">
            <a href="{% url 'alimento_detail' alimento.pk %}">{{ alimento.name }}</a>
            <a href="{% url 'alimento_update' alimento.pk %}">Editar</a>
            <a href="{% url 'alimento_delete' alimento.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <li class="list-group-item">No hay alimentos disponibles.</li>
    {% endfor %}
</ul>

<a href="{% url 'alimento_create' %}">Crear nuevo alimento</a>
{% endblock %}
