<!-- templates/alimentacion/plan/calendario_form.html -->

{% extends 'base_generic.html' %}

{% block content %}
<h2>{% if object %}Editar{% else %}Crear{% endif %} Calendario</h2>

<h3>Asignar Opciones de Calendario</h3>
<form class="form-custom" method="post" class="form-custom">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    
    {% for form in formset %}
        <div class="formset-row">
            {{ form.id }}
            {{ form.fecha.label_tag }}
            {{ form.fecha }}
            {{ form.opcion.label_tag }}
            {{ form.opcion }}
        </div>
    {% endfor %}
    
    <input type="submit" class="btn btn-primary" class="btn btn-primary mt-3" value="Guardar Calendario">
</form>
{% endblock %}
