.assigned-week-trainings-table {
    margin-top: 20px;
}

.assigned-week-trainings-table th, .assigned-week-trainings-table td {
    text-align: center;
    vertical-align: middle;
}

.pdf-viewer {
    margin-top: 20px;
}

.pdf-viewer iframe {
    border: none;
}

.btn-close-pdf {
    display: block;
    margin-bottom: 10px;
}