.container-exercise-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(43, 43, 43, 1); /* Fondo gris oscuro con transparencia */
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #f0f0f0; /* Texto claro */
}

.container-exercise-details h1 {
    color: #f0f0f0; /* Texto claro */
    text-align: center;
    margin-bottom: 20px;
}

.container-exercise-details p {
    color: #f0f0f0; /* Texto claro */
    font-size: 16px;
}

.container-exercise-details h3 {
    color: #f0f0f0; /* Texto claro */
    margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.ratio {
    border-radius: 8px;
    overflow: hidden;
}

.btn {
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #f0f0f0; /* Texto claro */
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    transform: scale(1.05);
}

.spinner-border {
    margin-top: 20px;
}
