.container-training-details {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(43, 43, 43, 1); /* Fondo gris oscuro con transparencia */
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #f0f0f0; /* Texto claro */
}

.container-training-details h1 {
    color: #f0f0f0; /* Texto claro */
    text-align: center;
}

.card {
    background-color: #2b2b2b; /* Fondo gris oscuro */
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: #f0f0f0; /* Texto claro */
}

.list-group-item {
    border: none;
    padding: 10px 20px;
    background-color: #3b3b3b; /* Fondo gris oscuro */
    color: #f0f0f0; /* Texto claro */
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    color: #f0f0f0; /* Texto claro */
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    transform: scale(1.05);
}

.alert-danger {
    text-align: center;
    background-color: #dc3545;
    color: #f0f0f0; /* Texto claro */
}
