.container-weekly-trainings {
    background-color: #e9ecef; /* Fondo gris */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #343a40;
    text-align: center;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    transform: scale(1.05);
}

.pdf-viewer {
    margin-top: 20px;
}

.pdf-viewer iframe {
    border: none;
}
